@model IEnumerable<TMDT.Models.NguoiDung_PhieuQuaTang>

@{
    ViewBag.Title = "VoucherCuaToi";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
}


<section class="container-fluid">
    <h1>Voucher của tôi</h1>
    @{ foreach (var item in Model)
        {
            <div class="row">
                <article class="card fl-left">
                    <section class="date">
                        @if (ViewBag.ThuongHieu.Count == 0)
                        {
                            <img src="~/Content/images/voucher_logo.png"
                                 alt="" style="height: 144px" />
                        }
                        @{
                            int count = 0;
                            foreach (var i in ViewBag.ThuongHieu)
                            {
                                if (item.PhieuQuaTang.LoaiPhamVi == i.MaThuongHieu)
                                {

                                    <img src="@i.Hinh"
                                         alt="" style="height:80px" />
                                    count++;
                                    break;
                                }
                            }
                            if (count == 0)
                            {
                                <img src="~/Content/images/voucher_logo.png"
                                     alt="" style="height: 144px" />
                            }
                        }
                    </section>
                    <section class="card-cont">
                        <h2>@item.PhieuQuaTang.TenPhieuQuaTang</h2>
                        <h2>@item.PhieuQuaTang.GiaTri <span>VNĐ</span></h2>
                        <p>Ngày hết hạn @item.PhieuQuaTang.NgayKetThuc.Day/@item.PhieuQuaTang.NgayKetThuc.Month/@item.PhieuQuaTang.NgayKetThuc.Year</p>
                        <div class="copy-button">
                            @if (ViewBag.checkVoucher.Count != 0)
                            {
                                int check = 0;
                                foreach (var i in ViewBag.checkVoucher)
                                {
                                    if (item.MaPhieuQuaTang == i.MaPhieuQuaTang)
                                    {
                                        <h7> Mã Voucher: </h7> <input type="text" id="@item.MaPhieuQuaTang" name="lname" value="@item.PhieuQuaTang.MaGiamGia" readonly style="cursor:default">

                                        <a href="#" onclick="copyToClipboard('@item.MaPhieuQuaTang')" class="btn btn-danger">Sao chép</a>
                                        check++;
                                        break;
                                    }
                                }
                                if (check == 0)
                                {
                                    <p>Mã voucher:  **********</p>
                                    <a href="@Url.Action("KichHoatVoucher", "KhachHang", new { id = item.MaPhieuQuaTang })" class="btn btn-danger">Kích hoạt</a>
                                }
                            }
                            else
                            {
                                <p>Mã voucher:  **********</p>
                                <a href="@Url.Action("KichHoatVoucher", "KhachHang", new { id = item.MaPhieuQuaTang })" class="btn btn-danger">Kích hoạt</a>
                            }
                        </div>
                    </section>
                </article>
            </div>
        }
    }

</section>

<script type="text/javascript">

    function copyToClipboard(target) {
        var element = document.getElementById(target);
        element.select();
        document.execCommand("Copy");
        window.getSelection().removeAllRanges();
    }
</script>



<style>

    @@import url('https://fonts.googleapis.com/css?family=Oswald');


    .content h2 {
        font-size: 18px;
        margin-left: -20px;
        color: #565656;
        text-transform: uppercase;
    }

    .content p {
        font-size: 16px;
        color: #696969;
        margin-left: -20px;
    }

    .copy-button input {
        width: 50%;
        border: none;
        outline: none;
        font-size: 15px;
    }

    body {
        background-color: #dadde6;
        font-family: arial
    }


    h1 {
        text-transform: uppercase;
        font-weight: 900;
        border-left: 10px solid #fec500;
        padding-left: 10px;
        margin-bottom: 30px
    }


    .card {
        display: table-row;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 4px;
        position: relative
    }

        .card + .card {
            margin-left: 2%
        }

    .date {
        display: table-cell;
        width: 25%;
        position: relative;
        text-align: center;
        border-right: 2px dashed #dadde6;
        text-align: center;
        vertical-align: middle;
    }

        .date:before,
        .date:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-color: #DADDE6;
            position: absolute;
            top: -15px;
            right: -15px;
            z-index: 1;
            border-radius: 50%
        }

        .date:after {
            top: auto;
            bottom: -15px
        }



    .card-cont {
        display: table-cell;
        width: 75%;
        padding: 10px 10px 30px 50px
    }


        .card-cont > div {
            display: table-row
        }

        .card-cont a {
            display: block;
            text-decoration: none;
            text-align: center;
            line-height: 30px;
            position: absolute;
            right: 10px;
            bottom: 10px
        }

    @@media screen and (max-width: 860px) {
        .card {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 10px
        }

            .card + .card {
                margin-left: 0
            }

        .card-cont .even-date,
        .card-cont .even-info {
            font-size: 75%
        }
    }
</style>
<style>
    .active-4 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>