@model IEnumerable<TMDT.Models.PhieuQuaTang>

@{
    ViewBag.Title = "Voucher";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
}





<div class="container-fluid">
    <div class="row" style="height:500px">
        @{
            foreach (var item in Model)
            {
                <div class="col col-md-1">

                </div>
                <div class="col col-md-5">
                    <div class="card">
                        <div class="main">
                            <div class="co-img">
                                @foreach (var i in ViewBag.ThuongHieu)
                                {
                                    if (item.LoaiPhamVi == i.MaThuongHieu)
                                    {

                                        <img src="@i.Hinh"
                                             alt="" />
                                        break;
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/voucher_logo.png"
                                             alt="" />
                                        break;
                                    }
                                }
                            </div>
                            <div class="vertical"></div>
                            <div class="content">
                                <h2>@item.TenPhieuQuaTang</h2>
                                <h1>@item.GiaTri <span>VNĐ</span></h1>
                                <p>Số lượng còn lại: @item.SoLuong</p>
                                <p>Ngày hết hạn @item.NgayKetThuc.Day/@item.NgayKetThuc.Month/@item.NgayKetThuc.Year</p>
                            </div>
                        </div>
                        <div class="copy-button">
                            @if (ViewBag.checkVoucher.Count != 0)
                            {
                                int count = 0;
                                foreach (var i in ViewBag.checkVoucher)
                                {
                                    if (item.MaPhieuQuaTang == i.MaPhieuQuaTang)
                                    {
                                        <p>Mã voucher:  @item.MaGiamGia</p>
                                        <button onclick="copyIt()" class="btn btn-danger" disabled>Đã kích hoạt</button>
                                        count++;
                                    }
                                }
                                if (count == 0)
                                {
                                    <p>Mã voucher:  **********</p>
                                    <a href="@Url.Action("KichHoatVoucher","KhachHang", new { id = item.MaPhieuQuaTang })" class="btn btn-danger">Kích hoạt</a>
                                }
                            }
                            else
                            {
                                <p>Mã voucher:  **********</p>
                                <a href="@Url.Action("KichHoatVoucher","KhachHang", new { id = item.MaPhieuQuaTang })" class="btn btn-danger">Kích hoạt</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>






<style>
    @@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    .col {
        background-color: lightgray
    }
    .card {
        margin-top: 20px;
        width: 470px;
        height: 230px; /*180*/
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        padding: 15px 15px;
        position: relative;
        transition: all 0.3s ease 0s;
    }

        .card:hover {
            cursor: pointer;
            box-shadow: 0 7px 15px 0 gray;
        }

    .main,
    .copy-button {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
    }

    .card::before {
        position: absolute;
        content: "";
        height: 40px;
        left: -20px;
        border-radius: 40px;
        z-index: 1;
        top: 100px;
        background-color: lightgray;
        width: 40px;
    }

    .co-img img {
        width: 150px;
        height: 100px;
    }

    .vertical {
        border-left: 5px dotted black;
        height: 100px;
        position: absolute;
        left: 40%;
    }

    .content h1 {
        font-size: 35px;
        margin-left: -20px;
        color: #565656;
    }

        .content h1 span {
            font-size: 18px;
        }

    .content h2 {
        font-size: 18px;
        margin-left: -20px;
        color: #565656;
        text-transform: uppercase;
    }

    .content p {
        font-size: 16px;
        color: #696969;
        margin-left: -20px;
    }

    .copy-button input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 15px;
    }
</style>

<style>
        .active-3 {
            background-color: #CA2620;
            box-shadow: inset 5px 5px 12px #AA1B1B;
            transition: all 0.3s ease 0s;
        }
    </style>