@model IEnumerable<TMDT.Models.HoaDon>

<h2>Quản lý đơn hàng</h2>

<table class="table">
    <tr>
        <th scope="col">Đơn hàng</th>
        <th scope="col">Ngày đặt</th>
        <th scope="col">Khách hàng</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Tổng tiền</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DonHangChiTiet","NhanVien",new {@maDonHang=item.MaHoaDon})">#@item.MaHoaDon</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhach)
            </td>
            <td>
                @switch (item.TinhTrang)
                {
                    case 1:<span>Chờ xác nhận</span>break;
                    case 2:<span>Chờ lấy hàng</span>break;
                    case 3:<span>Đang giao</span>break;
                    case 4:<span>Đã giao</span>break;
                    case 5:<span>Đã hủy</span>break;
                    case 6:<span>Trả hàng</span>break;
                }
            </td>
            <td>
                <span class="text-danger" style="font-size:18px;font-weight:500">@Html.DisplayFor(modelItem => item.TongThanhToan)</span>


            </td>
            <td>
                @if (item.TinhTrang == 2)
                {
                    <input type="button" onclick="location.href='@Url.Action("SanSangGiaoHang", "NhanVien", new {@maDonHang=item.MaHoaDon})'" class="btn btn-danger" style="text-align:right" value="Sẵn sàng giao">
                    <input type="button" onclick="location.href='@Url.Action("HuyDonHang", "NhanVien", new {@maDonHang=item.MaHoaDon})'" class="btn btn-outline-danger" value="Hủy đơn hàng">
                }
            </td>
        </tr>
    }

</table>
<style>
    .active-1 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>

