@model TMDT.Models.HoaDon

@{
    ViewBag.Title = "BaoCaoDetail";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<br />
<br />
<br />
<br />
<h2>Chi tiết hóa đơn</h2>
<hr />
<div class="row">
    <div class="col-md-5">
        <h5>Tên khách hàng: @Model.NguoiDung.Ten</h5>
    </div>
    <div class="col-md-5">
        <h5>Địa chỉ: @Model.DiaChi</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h5>Số điện thoại: @Model.SDT</h5>
    </div>
    <div class="col-md-5">
        <h5>Ngày mua: @Model.NgayMua</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h5>Tổng tiền giảm: @Model.SoTienGiam</h5>
    </div>
    <div class="col-md-5">
        <h5>Phí giao hàng: @Model.PhiGiaoHang</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-5">

        @{
            if (Model.TinhTrang == 1)
            {
                <h5>Tình trạng: Chờ xác nhận</h5>
            }
            else if (Model.TinhTrang == 2)
            {
                <h5>Tình trạng: Chờ lấy hàng</h5>
            }
            else if (Model.TinhTrang == 3)
            {
                <h5>Tình trạng: Đang giao</h5>
            }
            else if (Model.TinhTrang == 4)
            {
                <h5>Tình trạng: Đã giao</h5>
            }
            else if (Model.TinhTrang == 5)
            {
                <h5>Tình trạng: Đã hủy</h5>
            }
            else
            {
                <h5>Tình trạng: Trả hàng</h5>
            }
        }
    </div>
    <div class="col-md-5">
        <h5>
            Tổng thanh toán:  @Model.TongThanhToan
        </h5>
    </div>
</div>

<table class="table table-striped ">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
    </tr>

    @{
        foreach (var i in Model.CTHoaDons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.SanPham.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.ThanhTien)
                </td>
            </tr>
        }
    }



</table>
<a href="@Url.Action("QuanLyBaoCao","QuanLy")" class="btn btn-outline-danger">Trở về</a>
<style>
    .active-6 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>