@model TMDT.Models.NguoiDung

@{
    ViewBag.Title = "NhanVienEdit";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>NhanVienEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <br />
    <br />
    <h4>Sửa thông tin nhân viên</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaNguoiDung)
    @Html.HiddenFor(model => model.Password)
    @{Model.ConfirmPass = Model.Password;}
    @Html.HiddenFor(model => model.ConfirmPass)
    @Html.HiddenFor(model => model.NgayTao)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.MaQuyen)

    <div class="form-group">
        @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
            <a href="@Url.Action("QuanLyNhanVien","QuanLy")" class="btn btn-outline-danger">Trở về</a>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "QuanLyNhanVien")
</div>
<style>
    .active-4 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>