@model IEnumerable<TMDT.Models.ThuongHieu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<style>
    .active-1 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>

@section scripts{
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Alert/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/DeleteThuongHieu.js"></script>
}

<h2>Quản lý thương hiệu</h2>
<p>
    @Html.ActionLink("Tạo thương hiệu mới", "ThuongHieuCreate", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <tr>
        <th scope="col">
            Tên thương hiệu
        </th>
        <th scope="col">
            Hình
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuongHieu)
            </td>
            <td>
                <img src="@item.Hinh" />
            </td>
            <td>
                <a href="@Url.Action("ThuongHieuEdit", "QuanLy", new {id=item.MaThuongHieu})" style="color:black"><i class="bi bi-pencil-square"></i></a> |
                <a href="@Url.Action("ThuongHieuDetails","QuanLy", new {id=item.MaThuongHieu})" style="color:black"><i class="bi bi-card-list"></i></a> 
               @* <a href="#" onclick="ConfirmXoaThuongHieu(@item.MaThuongHieu)" style="color:black"><i class="bi bi-trash"></i></a>*@
            </td>
        </tr>
    }
</table>
