@model TMDT.Models.NguoiDung

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@{
    string returnUrl = (string)ViewData["returnUrl"];
}

<link href="~/Content/css/floating-labels.css" rel="stylesheet" />
@using (Html.BeginForm("DangNhap", "NguoiDung", new { @returnUrl = returnUrl }))
{
    @Html.AntiForgeryToken()
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-8 col-md-4 form-container">
                <form class="form-container">
                    <div class="form-label-group">
                        @Html.TextBoxFor(model => model.Username, new { @id = "Username", @class = "form-control", style = "field-validation-error", @placeholder = "Nhập tài khoản" })
                        @Html.LabelFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)

                    </div>
                    <div class="form-label-group">
                        @Html.PasswordFor(model => model.Password, new { @id = "Password", @class = "form-control", style = "field-validation-error", @placeholder = "Nhập mật khẩu" })
                        @Html.LabelFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    @if (ViewBag.ErrorInfo != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>@ViewBag.ErrorInfo</p>
                        </div>

                    }
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" value="Login" class="btn btn-success btn-block"><b>Đăng nhập</b></button>

                        </div>
                        <div class="col-6">
                            <button type="button" value="Back" class="btn btn-default btn-block" onclick="location.href='@Url.Action("Index", "TrangChu")'"><b>Trở về</b></button>
                        </div>

                    </div>

                    <hr>
                    <div class="form-group">
                        <p style="float: left;">Bạn chưa có tài khoản? <a href="@Url.Action("DangKy", "NguoiDung")" class="card-link">Đăng ký ngay</a></p>

                    </div>
                    <br>
                </form>
            </section>
        </section>
    </section>
}

