@model IEnumerable<TMDT.Models.HoaDon>

@{
    ViewBag.Title = "DonMua";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
}

<nav>
    <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-cho-xac-nhan-tab" data-toggle="tab" href="#nav-cho-xac-nhan" role="tab" aria-controls="nav-cho-xac-nhan">Chờ xác nhận</a>
        <a class="nav-link" id="nav-cho-lay-hang-tab" data-toggle="tab" href="#nav-cho-lay-hang" role="tab" aria-controls="nav-cho-lay-hang">Chờ lấy hàng</a>
        <a class="nav-link" id="nav-dang-giao-tab" data-toggle="tab" href="#nav-dang-giao" role="tab" aria-controls="nav-dang-giao">Đang giao</a>
        <a class="nav-link" id="nav-da-giao-tab" data-toggle="tab" href="#nav-da-giao" role="tab" aria-controls="nav-da-giao">Đã giao</a>
        <a class="nav-link" id="nav-da-huy-tab" data-toggle="tab" href="#nav-da-huy" role="tab" aria-controls="nav-da-huy">Đã hủy</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cho-xac-nhan" role="tabpanel" aria-labelledby="nav-cho-xac-nhan-tab">@showListDonHang(1)</div>
    <div class="tab-pane fade" id="nav-cho-lay-hang" role="tabpanel" aria-labelledby="nav-cho-lay-hang-tab">@showListDonHang(2)</div>
    <div class="tab-pane fade" id="nav-dang-giao" role="tabpanel" aria-labelledby="nav-dang-giao-tab">@showListDonHang(3)</div>
    <div class="tab-pane fade" id="nav-da-giao" role="tabpanel" aria-labelledby="nav-da-giao-tab">@showListDonHang(4)</div>
    <div class="tab-pane fade" id="nav-da-huy" role="tabpanel" aria-labelledby="nav-da-huy-tab">@showListDonHang(5)</div>
</div>

@helper showListDonHang(int num)
{
    foreach (var item in Model)
    {
        if (item.TinhTrang == num)
        {
            <div class="col-6 col-md-4 col-lg-12">
                <div class="card" style="height:200px; margin-top:20px" onclick="location.href='@Url.Action("CTDonHang", "NguoiDung", new { maHoaDon = item.MaHoaDon})'">
                    <div class="card-body" style="width: 100%">
                        <div class="container" style="height:200px">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="~/Content/images/ic_bag.png" class="img-thumbnail" style="border:none" />
                                </div>
                                <div class="col-md-6">
                                    <p><b>Ngày mua:  </b> &emsp;&emsp;&emsp;&emsp;@item.NgayMua</p>
                                    <p><b>Ngày nhận hàng:</b>&emsp;&emsp;chưa nhận hàng</p>
                                    <p><b>Tổng tiền:</b> &emsp;&emsp;&emsp;&emsp;&emsp;@item.TongThanhToan</p>
                                </div>
                                <div class="col-md-4">
                                    @* @Html.ActionLink("Xem chi tiết đơn hàng", "CTDonHang", new { /* id=item.PrimaryKey */ }) |*@

                                    <a href="@Url.Action("DonHangChiTiet","KhachHang",new {@maDonHang=item.MaHoaDon})" class="btn btn-success">Xem chi tiết đơn hàng</a>
                                    @if (@num == 1)
                                    {
                                        @*@Html.ActionLink("Hủy đơn hàng", "HuyDonHang", new { /* id=item.PrimaryKey */ })*@
                                        <a href="@Url.Action("HuyDonHang", "NguoiDung", new { /* id=item.PrimaryKey */ })" class="btn btn-danger">Hủy đơn hàng</a>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
}
<style>
    .active-2 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }

    .row {
        height: 200px;
    }

    .col-6:hover {
        cursor: pointer;
    }
</style>