@model TMDT.Models.NguoiDung
@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
}

<h2>ThongTinCaNhan</h2>

@using (Html.BeginForm("CapNhatThongTinCaNhan", "NguoiDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaNguoiDung)
                    @Html.HiddenFor(model => model.NgayTao)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.MaQuyen)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.NgayChinhSua)
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Ten)
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSdt">Số điện thoại</label>
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Tên đăng nhập</label>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputDiaChi">Địa chỉ</label>
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputDiemThuong">Điểm thưởng</label>
                            @Html.EditorFor(model => model.DiemThuong, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>
                    @*<button type="submit" class="btn btn-primary">Cập nhật</button>*@
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}

