
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Head")
    <link href="~/Content/css/sidebar.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Header")
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse left-nav" style="background-image: linear-gradient(#EE0032, #FFD500);">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("ThongTinCaNhan","NguoiDung",new {id= Session["id"]})">
                                <i class="bi bi-person" style="font-size: 24px;"></i> Thông tin cá nhân
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-journal-text" style="font-size: 24px;"></i> Đơn mua
                            </a>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-white" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                 Voucher
                            </a>*@
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-basket3" style="font-size: 24px;"></i> Voucher
                            </a>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-white" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                Điểm của tôi
                            </a>*@
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-people" style="font-size: 24px;"></i> Voucher
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
    @Html.Partial("_Foot")

    <style>
        .nav > .nav-item{
            width:100%;
        }
        .row{
            height:700px;
        }
        .nav > .nav-item:hover {
            background-color: #CA2620;
            box-shadow: inset 5px 5px 12px #AA1B1B;
            transition: all 0.3s ease 0s;
        }
    </style>
</body>
</html>