<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Head")

</head>
<body>  
    @Html.Partial("_Header")

    <div class="body" style="width:90%; margin-left: 5%; margin-top: 2%;">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Html.Partial("_Foot")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            text-decoration: none;
            color: yellow;
        }
</style>
<style>

    .form-container {
        background: #fff;
        margin-top: 5%;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0px #000;
    }

    .field-validation-error {
        color: red;
    }
</style>
