@model IEnumerable<TMDT.Models.NguoiDung>

@{
    ViewBag.Title = "Quản lý phân quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#THTable').DataTable();
        });
    </script>
}

<h2>Quản lý phân quyền</h2>
<style>
    tr:hover {
        background: red;
        cursor: pointer;
    }

    [data-href] {
        cursor: pointer;
    }
</style>
<br />
<table id="THTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quyen.TenQuyen)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='@Url.Action("PhanQuyenDetail", "Admin",new { id= item.MaNguoiDung})'">
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quyen.TenQuyen)
                </td>

            </tr>
        }
    </tbody>

</table>
<style>
    .active-2 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>