@model IEnumerable<TMDT.Models.TinTuc>

@{
    ViewBag.Title = "QLTinTuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý tin tức</h2>
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#THTable').DataTable();
        });
    </script>
}
<p>
    @Html.ActionLink("Thêm tin tức mới", "TinTucCreate", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
<table id="THTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                Mã tin
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày sửa
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTinTuc)
                </td>
                <td>
                    @item.TieuDe.Substring(0, 60) ...
                </td>
                <td>
                    <img src="@item.Thumbnail" width="100" />
                </td>
                <td>
                    @item.NgayTao.Value.Day/@item.NgayTao.Value.Month/@item.NgayTao.Value.Year
                </td>
                <td>
                    @item.NgayChinhSua.Value.Day/@item.NgayChinhSua.Value.Month/@item.NgayChinhSua.Value.Year
                </td>
                <td>
                    <a href="@Url.Action("TinTucEdit","Admin", new {id=item.MaTinTuc})" style="color:black"><i class="bi bi-pencil-square"></i></a> |
                    <a href="@Url.Action("TinTucDetail","Admin", new {id=item.MaTinTuc})" style="color:black"><i class="bi bi-card-list"></i></a> |
                    <a href="@Url.Action("TinTucDelete","Admin", new {id=item.MaTinTuc})" style="color:black"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
<style>
    .active-3 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>