@model TMDT.Models.Quyen

@{
    ViewBag.Title = "QuyenDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QuyenDetail</h2>

@using (Html.BeginForm("QuyenDetail", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Quyen</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaQuyen)
        @Html.HiddenFor(model => model.NgayTao)
        @Html.HiddenFor(model => model.IsDeleted)
        @Html.HiddenFor(model => model.IsLockEdit)

        <div class="form-group">
            @Html.LabelFor(model => model.TenQuyen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenQuyen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenQuyen, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model.IsLockEdit == false)
                {
                    @*@Html.ActionLink("Cập nhật","QuyenEdit", new {id=Model.MaQuyen, quyen=Model}, new {@class="text-decoration-none"})*@
                    <input type="submit" class="btn btn-info" name="submitButton" value="Sửa" onclick="location.href='@Url.Action("QuyenDetail", "Admin")'" />
                    <input type="submit" class="btn btn-info" name="submitButton" value="Xóa" onclick="location.href='@Url.Action("QuyenDetail", "Admin")'" />
                    @*<button type="button" class="btn btn-default">Xóa</button>*@
                }
                <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("QLQuyen", "Admin")'">Quay về</button>
            </div>
        </div>
    </div>
}