@model TMDT.Models.TinTuc

@{
    ViewBag.Title = "TinTucEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa tin tức</h2>


@using (Html.BeginForm("TinTucEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="file" name="UploadImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
    <div class="form-group">
        <p class="col-md-12">Hình đại diện tin tức</p>
        <div class="col-md-12">
            <img src="@Url.Content(Model.Thumbnail)" id="previewImg" style="width:300px" />
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.NoiDung, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-10">Sản phẩm liên kết với tin tức</p>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MaSanPham, (SelectList)ViewBag.SanPham, "Không chọn sản phẩm liên kết", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaSanPham, "", new { @class = "text-danger" })
        </div>
    </div>


    @Html.HiddenFor(model => model.MaTinTuc)
    @Html.HiddenFor(model => model.MaNguoiTao)
    @Html.HiddenFor(model => model.MaNguoiSua)
    @Html.HiddenFor(model => model.NgayTao)
    @Html.HiddenFor(model => model.NgayChinhSua)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.IsHide)


  
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu tin tức" class="btn btn-success" />
            <a href="@Url.Action("QLTinTuc","Admin")" class="btn btn-outline-danger">Trở về</a>
            <h5 class="text-danger">@ViewBag.IsExist</h5>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .active-3 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>