@model TMDT.Models.TinTuc

@{
    ViewBag.Title = "TinTucDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết tin tức</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTinTuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTinTuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Thumbnail)" id="previewImg" style="width:300px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.Raw(Model.NoiDung)

        </dd>
        <dt>
            Tên sản phẩm
        </dt>
        @if (Model.MaSanPham != null)
        {
            <dd>
                @Html.DisplayFor(model => model.SanPham.TenSanPham)
            </dd>
        }
        else
        {
            <dd>
                Không có liên kết sản phẩm
            </dd>
        }

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            Cập nhật lần cuối
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChinhSua)
        </dd>

    </dl>
</div>

<style>
    .active-3 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>