@model TMDT.Models.SanPham

@{
    ViewBag.Title = @Model.TenSanPham;
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<link href="~/Scripts/Alert/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

@section scripts{
    <script src="~/Scripts/Alert/sweetalert2.all.min.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.Hinh" alt="" class="img-fluid">
        </div>
        <div class="col-md-5 container">
            <div class="row">
                <p class="col-md-12"><strong>@Model.TenSanPham</strong></p>
                <p class="col-md-12"><strong>Thông tin chung:</strong></p>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul>
                        <li><span><strong>Nhà sản xuất: </strong>@Model.ThuongHieu.TenThuongHieu</span></li>
                        <li><span><strong>Bảo hành: </strong>@Model.BaoHanh tháng</span></li>
                        @if (Model.GiaGiam.Value > 0)
                        {
                            <li><span><strong>Giá cũ: </strong><del>@Model.GiaBan</del></span></li>
                            <li><span><strong>Giá KM: </strong>@Model.GiaGiam</span></li>
                        }
                        else
                        {
                            <li><span><strong>Giá: </strong>@Model.GiaBan</span></li>
                        }

                    </ul>
                </div>

                <div class="col-md-6 col-sm-12"><button class=" btn-buy">Mua ngay</button></div>
                <br /><br /><br />
                @if (Model.GiaGiam != 0)
                {
                    <div class="col-md-6 col-sm-12"><button class="btn-addtocart" onclick="ThemGioHang(@Model.MaSanPham, '@Model.TenSanPham',@Model.MaThuongHieu,@Model.GiaGiam,@Model.SoLuongTon,'@Model.Hinh')">Thêm vào giỏ hàng</button></div>
                }
                else
                {
                    <div class="col-md-6 col-sm-12"><button class="btn-addtocart" onclick="ThemGioHang(@Model.MaSanPham, '@Model.TenSanPham',@Model.MaThuongHieu,@Model.GiaBan,@Model.SoLuongTon,'@Model.Hinh')">Thêm vào giỏ hàng</button></div>
                }
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <h3>Mô tả laptop</h3>
    </div>
    <br /><br />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>CPU:</th>
                <td>@Model.CPU.HangCPU @Model.CPU.TenCPU @Model.CPUInfo</td>
            </tr>
            <tr>
                <th>RAM:</th>
                <td>@Model.RAM GB</td>
            </tr>
            <tr>
                <th>Ổ cứng</th>
                <td></td>
            </tr>
            <tr>
                <th>Card đồ họa</th>
                <td>@Model.LoaiGPU.MaLoaiGPU @Model.LoaiGPU.TenLoaiGPU</td>
            </tr>
            <tr>
                <th>Màn hình:</th>
                <td>@Model.SizeManHinh1.Size" @Model.ManHinh</td>
            </tr>
            <tr>
                <th>Pin:</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<h4>Đánh giá sản phẩm</h4>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="flex-wrap:unset">
    <li class="nav-item">
        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true" style="text-align:center">Tất cả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-1rating-tab" data-toggle="pill" href="#pills-1rating" role="tab" aria-controls="pills-1rating" aria-selected="false" style="text-align:center">
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-2rating-tab" data-toggle="pill" href="#pills-2rating" role="tab" aria-controls="pills-2rating" aria-selected="false" style="text-align:center">
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-3rating-tab" data-toggle="pill" href="#pills-3rating" role="tab" aria-controls="pills-3rating" aria-selected="false" style="text-align:center">
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-4rating-tab" data-toggle="pill" href="#pills-4rating" role="tab" aria-controls="pills-4rating" aria-selected="false" style="text-align:center">
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-5rating-tab" data-toggle="pill" href="#pills-5rating" role="tab" aria-controls="pills-5rating" aria-selected="false" style="text-align:center">
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
        </a>
    </li>
</ul>
<div class="tab-content" id="pills-t4ratingontent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham });}</div>
    <div class="tab-pane fade" id="pills-1rating" role="tabpanel" aria-labelledby="pills-1rating-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham, @diem = 1 });}</div>
    <div class="tab-pane fade" id="pills-2rating" role="tabpanel" aria-labelledby="pills-2rating-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham, @diem = 2 });}</div>
    <div class="tab-pane fade" id="pills-3rating" role="tabpanel" aria-labelledby="pills-3rating-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham, @diem = 3 });}</div>
    <div class="tab-pane fade" id="pills-4rating" role="tabpanel" aria-labelledby="pills-4rating-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham, @diem = 4 });}</div>
    <div class="tab-pane fade" id="pills-5rating" role="tabpanel" aria-labelledby="pills-5rating-tab">@{Html.RenderAction("Rating", "SanPham", new { @maSP = Model.MaSanPham, @diem = 5 });}</div>
</div>

<br />
<br />
<br />

<style>
    .btn-buy {
        /*width: 30%;*/
        position: relative;
        width: 80%;
        bottom: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #EE0033;
        box-shadow: 0px 2px 15px #F24060;
        transition: all 0.3s ease 0s;
    }

        .btn-buy:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            border-color: rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-5px);
        }

    .btn-addtocart {
        /*width: 50%;*/
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #4834D4;
        box-shadow: 0px 2px 15px #4B38D5;
        transition: all 0.3s ease 0s;
    }

        .btn-addtocart:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            border-color: rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-5px);
        }
</style>