@model TMDT.Models.SanPham

@{
    ViewBag.Title = "CT_SanPham";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<link href="~/Scripts/Alert/sweetalert2.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/Alert/sweetalert2.all.min.js"></script>
}



<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.Hinh" alt="" class="img-fluid">
        </div>
        <div class="col-md-5 container">
            <div class="row">
                <p class="col-md-12"><strong>@Model.TenSanPham</strong></p>
                <p class="col-md-12"><strong>Thông tin chung:</strong></p>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul>
                        <li><span><strong>Nhà sản xuất: </strong>@Model.ThuongHieu.TenThuongHieu</span></li>
                        <li><span><strong>Bảo hành: </strong>@Model.BaoHanh tháng</span></li>
                        <li><span><strong>Giá: </strong>@Model.GiaBan</span></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-12"><button class=" btn-buy">Mua ngay</button></div>
                <br /><br /><br />
                <div class="col-md-6 col-sm-12"><button class="btn-addtocart" onclick="ThemGioHang(@Model.MaSanPham, '@Model.TenSanPham',@Model.GiaBan,@Model.SoLuong,'@Model.Hinh')">Thêm vào giỏ hàng</button></div>

            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <h3>Mô tả laptop</h3>
    </div>
    <br /><br />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>CPU:</th>
                <td>@Model.CPU.HangCPU @Model.CPU.TenCPU</td>
            </tr>
            <tr>
                <th>RAM:</th>
                <td>@Model.RAM GB</td>
            </tr>
            <tr>
                <th>Ổ cứng</th>
                <td></td>
            </tr>
            <tr>
                <th>Card đồ họa</th>
                <td>@Model.GPU.LoaiGPU @Model.GPU.TenGPU</td>
            </tr>
            <tr>
                <th>Màn hình:</th>
                <td>@Model.ManHinh</td>
            </tr>
            <tr>
                <th>Pin:</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


<br />
<br />
<br />

@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<style>
    .btn-buy {
        /*width: 30%;*/
        position: relative;
        width: 80%;
        bottom: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #EE0033;
        box-shadow: 0px 2px 15px #F24060;
        transition: all 0.3s ease 0s;
    }

        .btn-buy:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            border-color: rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-5px);
        }

    .btn-addtocart {
        /*width: 50%;*/
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #4834D4;
        box-shadow: 0px 2px 15px #4B38D5;
        transition: all 0.3s ease 0s;
    }

        .btn-addtocart:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            border-color: rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-5px);
        }
</style>